.card {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

.card__container {
    width: 354px;
}

.card__header {
    padding: 16px 24px 24px 24px;
}

.card__content {
    padding: 15px 24px 24px 24px;
}

.card__title {
    margin: 0;
    opacity: 0.8;
}

.card__calc {
    margin-top: 6px;
    margin-bottom: 0;
}

.card__view {
    margin: 0;
    cursor: pointer;
}




.typography {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.typography_variant_h4 {
    font-size: 20px;
    line-height: 26px;
}

.typography_color_blue-2 {
    color: var(--blue-2);
}

.typography__body-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}



.flex {
    display: flex;
}

.flex__container_justify_space-between {
    justify-content: space-between;
}

.flex__container_direction_column {
    flex-direction: column;
}

.flex__container_gap_1 {
    gap: 1px;
}

.flex__item_grow_1 {
    flex-grow: 1;
}


.histogram {
    height: 50px;
    overflow-x: auto;
}

.histogram__item {
    background: var(--blue-2);
    min-width: 9px;
    flex-basis: 9px;
    align-self: flex-end;
}